@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');
body {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    font-size: larger;
    margin: 10px;
    text-align: center;
}

.heading {
    text-align: center;
    margin: auto;
}

textarea {
    border-radius: 0.3rem;
    padding: 50px 0px 50px 0px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}

button {
    margin: auto;
    padding: 10px 50px 10px 50px;
    background-color: yellow;
    border-radius: 1rem;
    font-size: x-large;
}

.op {
    margin: auto;
}